.cursor {
  cursor: move;
}

.expander {
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  left: 10px !important;
  top: 10px !important;
  z-index: 100 !important;
}

.compress {
  position: fixed !important;
  bottom: 50px !important;
  right: 200px !important;
  z-index: 100 !important;
  width: 40% !important;
}
.drag-window {
  .draftJsToolbar__toolbar__dNtBH {
    position: relative !important;
  }
  .form-button {
    color: #ffffff !important;
    background-color: #1d3d6f !important;
  }
}
